html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
}

body{
    margin: 0;
}

h1,h2,h3{
    color: rgb(222, 159, 71);
    margin: 0;
}

h1{
    font-size: 5.4rem;
    padding-right: 21rem;
}

header{
    background-color: black;
    line-height: 1.7rem;
}

header div{
    display: inline-block;
    margin: 0;
    padding: 0;
}

header a,p{
    color: white;
    text-decoration: none;
}

p{
    font-size: 1.5rem;
}

header h2{
    margin: 0;
}

div img{
    width: 7.5rem;
    margin: 0;
}

div ol{
    padding-left: 21rem;
}

ol,ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

ol li{
    display: inline-block;
    margin: 0rem;
    margin-right: 0.5rem;
    background-color: rgb(72, 71, 71);
}

ul li{
    display: block;
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
}

main{
    background-color: black;
}

main img, video{
    display: block;
}

section p{
    background-color: rgb(72, 71, 71);
    margin-top: 0;
}

section h3{
    background-color: rgb(72, 71, 71);
    font-size: 3rem;
}

main h2{
    text-align: center;
    font-size: 4rem;
    padding: 0.7rem;
}

main section{
    margin-left: 40rem;
    margin-right: 40rem;
}

@media screen and (max-width: 70rem){
    
    body{
        margin: 0;
    }

    h1{
        font-size: 2.7rem;
        padding-right: 0rem;
        padding: 1.8rem;
    }

    h1,h2,h3{
        margin: 0;
    }

    div ol{
        padding-left: 0;
    }

    div img{
        width: 0rem;
        margin: 0;
    }

    ol li{
        display: block;
        margin: 0.5rem;
        padding: 0;
        width: 25rem;
    }

    ul li{
        display: block;
        margin: 0;
    }

    main section{
        margin-left: 0rem;
        margin-right: 0rem;
    }

    video{
        width: 26rem;
    }

    main h3{
        font-size: 2rem;
    }

    section p{
        font-size: 1rem;
    }

    main h2{
        text-align: center;
        font-size: 3rem;
        padding-bottom: 1.5rem;
    }
}